# Database Configuration
DB_CLUSTER=mongodb+srv://<MONGODB_USER>:<MONGODB_PASSWORD>@<MONGODB_URL>/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_USER=your_mongodb_username
MONGODB_PASSWORD=your_mongodb_password
MONGODB_URL=your_mongodb_cluster_url
MONGODB_DB=contacts

# Server Configuration
PORT=3000

# SMTP (Email) Configuration
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_smtp_username
SMTP_PASSWORD=your_smtp_password
SMTP_FROM=your_email@example.com
